<div class="row">
  <div class="col-md-9"><h1>2-8 Dec 2018 [Week #49]</h1></div>
  <div class="col-md-3 text-right">
    <button class="btn btn-secondary btn-sm w-25 mx-2">&lt;&lt;</button>
    <button class="btn btn-secondary btn-sm w-25 mx-2">&gt;&gt;</button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-3">View <b>Week</b></div>
  <div class="col-md-3">Group by <b>Calendar</b></div>
  <div class="col-md-3">Filter <b>None</b></div>
  <div class="col-md-3">More</div>
</div>

<div class="table-responsive mt-4">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>2 Des 2018</td>
        <td>3 Des 2018</td>
        <td>4 Des 2018</td>
        <td>5 Des 2018</td>
        <td>6 Des 2018</td>
        <td>7 Des 2018</td>
        <td>8 Des 2018</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="card bg-success">
            <div class="card-body">Test Task</div>
          </div>
        </td>
        <td>
          <div class="card bg-success">
            <div class="card-body">Test Task</div>
          </div>
        </td>
        <td>
          <div class="card bg-success">
            <div class="card-body">Test Task</div>
          </div>
        </td>
        <td>
          <div class="card bg-success">
            <div class="card-body">Test Task</div>
          </div>
        </td>
        <td>
          <div class="card bg-success">
            <div class="card-body">Test Task</div>
          </div>
        </td>
        <td>
          <div class="card bg-success">
            <div class="card-body">Test Task</div>
          </div>
        </td>
        <td>
          <div class="card bg-success">
            <div class="card-body">Test Task</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>