<div class="row mt-5">
  <div class="col-md-9">
    <fa-icon [icon]="faLongArrowDown"></fa-icon>
    <h1 class="d-inline">2-8 Dec 2018 [Week #49]</h1>
  </div>
  <div class="col-md-3 text-right">
    <button class="btn btn-secondary btn-sm w-25 mx-2" (click)="this.fillColumns(this.weekIndex - 1)">&lt;&lt;</button>
    <button class="btn btn-secondary btn-sm w-25 mx-2" (click)="this.fillColumns(this.weekIndex + 1)">&gt;&gt;</button>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3">
    <fa-icon [icon]="faLongArrowDown"></fa-icon> View <b>Week</b>
  </div>
  <div class="col-md-3">
    <fa-icon [icon]="faLongArrowDown"></fa-icon> Group by <b>Calendar</b>
  </div>
  <div class="col-md-3">
    <fa-icon [icon]="faLongArrowDown"></fa-icon> Filter <b>None</b>
  </div>
  <div class="col-md-3">
    <fa-icon [icon]="faLongArrowDown"></fa-icon> More
  </div>
</div>

<div class="table-responsive mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td *ngFor="let column of columns" class="{{column.isToday ? 'bg-secondary text-lights' : ''}}}">
          <span class="d-block text-center">{{column.title}}</span>
          <span class="d-block text-center">{{column.subTitle}}</span>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="this.tasks">
        <td *ngFor="let column of columns" class="h-73" (click)="columnClicked(column)">
          <div class="card" *ngIf="getTask(column.value)" [ngClass]="{
              'bg-warning': getTask(column.value).status === 1,
              'bg-success': getTask(column.value).status === 2,
              'bg-danger': getTask(column.value).status === 3}">
            <div class="card-body">{{getTask(column.value).title}}</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="edit-modal-container" *ngIf="this.isEditing" (click)="this.cancelEditing()">
</div>
<form class="card w-25 center-center rounded-xl" *ngIf="this.isEditing">
  <div class="card-body">
    <div class="d-block text-center alert-success rounded" *ngIf="this.saved">Task saved succesfuly</div>
    <div class="row mt-3">
      <div class="col-md-4">Title: </div>
      <div class="col-md-8"><input type="text" class="form-control" [(ngModel)]="this.editingItem.title" name="title" /></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">Description: </div>
      <div class="col-md-8"><textarea class="form-control" [(ngModel)]="this.editingItem.description" name="description"></textarea></div>
    </div>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-danger mx-2" type="button" (click)="this.cancelEditing()">Cancel</button>
    <button class="btn btn-success mx-2" type="submit" (click)="this.save()" [disabled]="this.isSaving || this.editingItem.title === undefined || this.editingItem.title == ''">{{this.isSaving ? "Please wait" : "Save"}}</button>
  </div>
</form>